.info-separator {
  margin-top: 40px;
  margin-bottom: 40px;
  article {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background-color: $info-background-color;
    padding: 82px 0 82px 0;
    span {
      display: block;
      color: $highlight-text-color;
      background-color: $info-background-color;
      &.gradient {
        background-color: $info-background-color;
        background-image: $info-gradient-color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
