---
import "./InfoSeparator.scss";
---

<section class="info-separator">
  <article>
    <span>Acepta pagos con</span>
    <span class="gradient">Criptomonedas en</span>
    <span>tu tienda online</span>
  </article>
</section>
