.StartInfo {
  background: #{$login-form-background} + 1a;
  .info-card {
    background-color: $light-text-color;
    border-radius: 6px;
    .container {
      background: $getting-started-card-background;
      border-radius: 6px;
      margin-bottom: 40px;
      p {
        color: $clear-text-color;
        font-weight: bold;
        display: inline-block;
        margin-top: 15px;
      }
      span {
        width: 100% !important;
        display: block;
        text-align: right;
        img {
          margin-bottom: 10px;
        }
      }
    }
    .info-text {
      display: inline-block;
      text-align: center;
      button {
        width: 80%;
        margin: 40px auto;
        display: block;
        color: $light-text-color;
        background-color: $dark-text-color;
        border-color: $dark-text-color;
      }

      @media (min-width: 768px) {
        margin: 0 auto;
        width: 410px;
        display: flex;
        flex-direction: column;
      }
    }
  }
  .container {
    .row {
      padding: 24px 16px 0 16px;
      color: $light-text-color;
      .description {
        font-size: 14px;
        font-weight: bold;
        color: $highlight-text-color;
        display: block;
        margin-bottom: 60px;
      }
      h1 {
        margin-bottom: 30px;
        span {
          background-color: $dark-text-color;
          background-image: $banner-gradient-color;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      p {
        font-size: 14px;
        margin-bottom: 26px;
      }
    }

    @media (min-width: 768px) {
      &.w-100 {
        max-width: 100%;
      }
    }
  }

  @media (min-width: 320px) {
    width: 90%;
    margin: 0 auto;
  }
}
