.CryptoFeatureDescription {
  background: $banner-gradient-bg-color;
  background: $banner-gradient-bg-effect;

  .row {
    color: $light-text-color;
    margin-bottom: 40px;
    &.left {
      flex-direction: row;
    }
    &.right {
      flex-direction: row-reverse;
    }
    .col-md-6 {
      &:nth-child(1) {
        padding: 24px 16px 0 16px;
      }
      &:nth-child(2) {
        padding: 0;
      }
    }
    .description {
      font-size: 14px;
      font-weight: bold;
      color: $highlight-text-color;
      display: block;
      margin-bottom: 60px;
    }
    h1 {
      margin-bottom: 30px;
      span {
        background-color: $dark-text-color;
        background-image: $banner-gradient-color;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    p {
      font-size: 14px;
      margin-bottom: 26px;
    }
    button {
      width: 100%;
      margin-bottom: 225px;
    }

    .deviceImage {
      width: 180px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-155px);
      z-index: 1;
    }

    .responsive-image {
      margin-bottom: 20px;
    }

    @media (min-width: 768px) {
      align-items: center;
      justify-content: center;
      height: fit-content;
      position: relative;

      .deviceImage {
        transform: translateX(-50%) translateY(25%);
      }
    }

    @media (min-width: 992px) {
      .deviceImage {
        transform: translateX(-50%) translateY(25%);
      }
    }

    @media (min-width: 1200px) {
      .deviceImage {
        transform: translateX(-50%) translateY(65%);
      }
    }

    @media (min-width: 1397px) {
      .deviceImage {
        transform: translateX(-50%) translateY(75%);
      }
    }

    @media (min-width: 1440px) {
      .deviceImage {
        transform: translateX(-50%) translateY(95%);
      }
    }

    @media (max-width: 767px) {
      .responsive-image.mobile {
        display: block;
      }
    }

    @media (min-width: 768px) {
      .responsive-image.desktop {
        display: block;
      }
    }
  }

  @media (min-width: 320px) {
    width: 90%;
    margin: 0 auto;
  }
}
