.DevelopersToggle {
  width: 90%;
  margin: 16px auto;
  display: flex;
  align-items: center;
  background: $toggleBackground;
  border-radius: 10px;
  overflow: hidden;
  height: 80px;

  .toggle-option {
    padding: 20px 40px;
    color: $clear-text-color;
    cursor: pointer;
    flex: 1;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    margin: 8px;

    &.active {
      background-color: rgba(255, 255, 255, 0.2);
      color: $light-highlight-text-color;
      border-radius: 10px;
      height: 64px;
    }
  }
}
