---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar/Navbar.astro";
import DevelopersContent from "../components/DevelopersContent/DevelopersContent.astro";
---

<Layout title="Home">
  <main>
    <Navbar />

    <DevelopersContent />
  </main>
</Layout>
