---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar/Navbar.astro";
import StartInfo from "../components/StartInfo/StartInfo.astro";
---

<Layout title="Home">
  <main>
    <Navbar />
    <StartInfo />
  </main>
</Layout>
