---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar/Navbar.astro";
import Banner from "../components/Banner/Banner.astro";
---

<Layout title="Home">
  <main>
    <Navbar />
    <Banner />
  </main>
</Layout>
