---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar/Navbar.astro";
import LoginForm from "../components/LoginForm/LoginForm.astro";
---

<Layout title="Home">
  <main>
    <Navbar />

    <LoginForm />
  </main>
</Layout>
