---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar/Navbar.astro";
import RegisterForm from "../components/RegisterForm/RegisterForm.astro";
---

<Layout title="Home">
  <main>
    <Navbar />

    <RegisterForm />
  </main>
</Layout>
