---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar/Navbar.astro";
import CryptoReports from "../components/CryptoReports/CryptoReports.astro";
---

<Layout title="Reports">
  <main>
    <Navbar />

    <CryptoReports />
  </main>
</Layout>
