.navbar {
  background-color: #000 !important;
  .navbar-brand {
    a {
      font-size: 24px;
    }
    span:nth-child(1) {
      color: $dark-text-color;
      font-weight: bold;
    }
    span:nth-child(2) {
      color: $navbar-brand-subtitle;
      font-weight: normal;
    }
  }
  .navbar-toggler-icon {
    background-image: $toggler-icon;
  }

  .navbar-collapse {
    .nav-item {
      a {
        color: $light-text-color;
      }
      a.active {
        color: $light-highlight-text-color;
      }
    }

    span {
      text-align: center;
      @media (min-width: 320px) {
        display: block;
        width: 100%;
      }
      @media (min-width: 992px) {
        display: inline;
        width: auto;
      }
      button {
        border-color: $highlight-text-color;
        color: $highlight-text-color;
        width: 131px;
      }
    }
  }
}
