---
import "./Navbar.scss";
const currentPath = Astro.url.pathname;
---

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><span>Crypto</span><span>Pay</span></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class=`nav-link ${currentPath === '/' ? 'active' : ''}` href="/">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a
            class=`nav-link ${currentPath === '/login' ? 'active' : ''}`
            href="/login"
          >
            Login
          </a>
        </li>
        <li class="nav-item">
          <a
            class=`nav-link ${currentPath === '/getting-started' ? 'active' : ''}`
            href="/getting-started"
          >
            Comenzar ahora
          </a>
        </li>
        <li class="nav-item">
          <a
            class=`nav-link ${currentPath === '/developers' ? 'active' : ''}`
            href="/developers"
          >
            Developers
          </a>
        </li>
        <li class="nav-item">
          <a
            class=`nav-link ${currentPath === '/how-it-works' ? 'active' : ''}`
            href="/how-it-works"
          >
            ¿Cómo funciona?
          </a>
        </li>
      </ul>
      <span>
        <button class="btn crypto-button" type="button">Button</button>
      </span>
    </div>
  </div>
</nav>
