---
import "./ContactFooter.scss";
---

<article class="ContactFooter">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="fw-bold">
          <span>Criptopagos </span>
          <span
            >El mejor servicio que ofrece efectividad, rapidéz y la garantía del
            mejor tipo de cambio .</span
          >
        </h1>
        <form action="#">
          <div class="input-box w-100">
            <input class="crypto-input" type="text" />
            <label>Nombre completo</label>
          </div>
          <div class="input-box w-100">
            <input class="crypto-input" type="text" />
            <label>Email</label>
          </div>
          <div class="phone-container w-100 d-flex justify-content-between">
            <div class="input-box code">
              <input class="crypto-input" type="text" />
              <label>Lada</label>
            </div>
            <div class="input-box phone">
              <input class="crypto-input" type="text" />
              <label>Móvil</label>
            </div>
          </div>
        </form>
        <button class="crypto-button" type="button">Ir a Whatsapp</button>
      </div>
    </div>
  </div>
</article>
