.RegisterForm {
  background: #{$login-form-background} + 1a;
  margin-bottom: 115px !important;
  .row {
    padding: 24px 16px 0 16px;
    color: $light-text-color;
    h1 {
      margin-bottom: 30px;
    }
    span {
      display: block;
      &:nth-child(2) {
        margin-top: 25px;
        font-weight: 300;
        font-size: 15px;
      }
    }
    .input-box {
      margin-bottom: 25px;
    }
    .code {
      width: 25%;
    }
    .phone {
      width: 70%;
    }
    button {
      width: 100%;
      color: $light-text-color;
      background-color: $black;
      border-color: $black;
      margin-bottom: 40px;
    }
  }

  @media (min-width: 320px) {
    width: 90%;
    margin: 0 auto;
  }
}
